.container {
  @include flex-box(row-reverse, space-between);
  width: 600px;
  height: 400px;
  background-color: rgb(189, 188, 188);
  .box {
    width: 60px;
    height: 60px;
    background-color: greenyellow;
    text-align: center;
    line-height: 60px;
  }
}
